name: Publish the book

on:
  workflow_dispatch:
  
  push:
    branches:
      - winter2023

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the branch
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Build the documentation with Sphinx
        run: |
          pip install -U jupyter-book
          jupyter-book build .
          
      - name: Publish the documentation
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: _build/html
          CLEAN: true
